<h1>Check Out Products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Product count</th>
      <th>Normal price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_out_products.grouped_by_product.each do |check_out_product| %>
      <tr>
        <td><%= check_out_product.product.description %></td>
        <td><%= check_out_product.product_count %></td>
        <td><%= number_to_currency(check_out_product.sum_price, locale: check_out_product.product.currency.locale) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
